- content_for(:not_signed_title) do
  = t('.header')
= simple_form_for @type, url: password_path, html:{class: "form-horizontal"} do |f|
  = f.input :email
  .form-actions
    = f.submit class: 'btn btn-success pull-right'
