%h1= t('.header')
.squiggly-border
= link_to t('.copy'), copy_public_standard_path(@public_standard), method: :post, class: 'btn btn-info'
%h3= @public_standard.name
%p.lead= raw @public_standard.content
